<div class="error-wrapper">
    <div class="error-content">
        <div class="error">Lỗi</div>
        <div class="error-msg">
            <div>Bạn có thể thử </div>
             <a href="/cpanel/home">Đăng nhập</a>
             </div>
    </div>
</div>