<div class="content-wrapper">
    <div class="container">
        <div class="row" style="display: flex;">
            <div class="col-md-5 col-sm-5" style="margin: auto;">
                <div class="login-container">
                    <div>
                         <img src="/media/hello_world.jpg" width="200" class="img-logo" />
                    </div>
                    <form role="form" action="/auth" method="post">                        
                        <div class="login-divider" style="margin: 15px 0">
                            <div class="divider">
                                <span></span>
                                <span>SOCIAL</span>
                                <span></span>
                            </div>
                        </div>
                        <button type="submit" id="btn_login_google" class="btn btn-danger">
                            <i class="fa fa-google"></i>
                            Google
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

